/*
.hamburger-menu {
    height: $btn-size;
    width: $btn-size;
    display: none;
    position: fixed;
    right: 2rem;

    p{
        color: white;
    }

    @include for-phone-only{
        display: inline;
    }

    .sidebar-menu {
        position: fixed;
        right: -50rem; //change property
        width: 10rem;
        height: 100%;
        transition: 0.2s;
        box-sizing: border-box;
        background-color: $fg;
        top: 0;

        ul{
            list-style-type: none;
            text-align: initial;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 6rem;
        }

        a{
            text-decoration: none;
            color: $bg;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    &:focus .sidebar-menu,
    &:focus-within .sidebar-menu{
        visibility: visible;
        right: 0; //change property
    }
}*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #1a2238;
  color: white;
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
}
@media (max-width: 599px) {
  body {
    margin: 1rem;
  }
}
@media (min-width: 600px) {
  body {
    width: 95%;
  }
}

a {
  text-decoration: none;
  color: #f4db7d;
}
a:hover {
  color: #9daaf2;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1em;
  justify-content: space-between;
}
@media (max-width: 599px) {
  header {
    flex-direction: column;
    text-align: center;
  }
}
header .navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: end;
  align-items: center;
}
@media (max-width: 599px) {
  header .navbar {
    display: flex;
    justify-content: center;
  }
}
header .navbar li {
  margin: 10%;
  text-align: end;
  /*a:hover,
        a:focus{
            color: $hover;
        }*/
}
@media (max-width: 599px) {
  header .navbar li {
    margin: auto;
    margin-bottom: 2%;
  }
}
header .navbar li a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 2rem;
  margin: 0;
}

.whoami .hi {
  color: #9daaf2;
}
.whoami .intro {
  color: white;
  font-weight: 700;
  font-size: 6rem;
  margin: 10rem auto 0 0;
  line-height: 1;
}
@media (max-width: 599px) {
  .whoami .intro {
    font-size: 3rem;
  }
}
.whoami .whatido {
  margin: 0;
  font-size: 2rem;
  margin: 0.5em 0;
}
@media (max-width: 599px) {
  .whoami .whatido {
    font-size: 1rem;
  }
}

.accent {
  color: #ff6a3d;
}

.highlight {
  background-image: linear-gradient(#ff6a3d, #ff6a3d);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size 0.5s, background-position 0.3s ease-in 0.5s;
}
.highlight:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position 0.5s, background-size 0.3s ease-in 0.5s;
}

.about {
  margin-top: 14rem;
}
.about h2 {
  font-size: 2rem;
}

.portfolio {
  margin-top: 14rem;
  text-align: center;
}
.portfolio h2 {
  font-size: 2rem;
}
.portfolio img {
  max-width: 100%;
  border-color: white;
  border-style: solid;
}
.portfolio .portfolio-items {
  display: grid;
}
.portfolio .item {
  margin-top: 5rem;
}
.portfolio .text {
  display: flex;
  gap: 2rem;
}
.portfolio .text a {
  text-decoration: none;
  color: #f4db7d;
}
.portfolio .text a:hover {
  color: #9daaf2;
}
@media (max-width: 599px) {
  .portfolio .text {
    text-align: center;
  }
}

footer {
  padding-top: 14rem;
}
footer a {
  text-decoration: none;
  color: #f4db7d;
}
footer a:hover {
  color: #9daaf2;
}

.p-img {
  max-width: 100%;
  border-color: white;
  border-style: solid;
}

.p-title {
  text-align: center;
}

.skills {
  margin-top: 14rem;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
