@import "screens";
@import "hamburger";

$bg: #1a2238;
$fg: white;
$accent: #ff6a3d;
$hover: #9daaf2;
$hover2: #f4db7d ;
$font: 'Poppins', sans-serif;

body{
    font-family: $font;
    background-color: $bg;
    color: $fg;
    max-width: 900px;
    margin: auto;
    min-height: 100vh;

    @include for-phone-only{
        margin: 1rem;
    }

    @include for-tablet-portrait-up{
    	width: 95%;
    }
}

header{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 1em;
    justify-content: space-between;

    @include for-phone-only{
        flex-direction: column;
        text-align: center;
    }

    .navbar{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: end;
        align-items: center;

        @include for-phone-only{
            display: flex;
            justify-content: center;
        }

        li{
            margin: 10%;
            text-align: end;

            @include for-phone-only{
                margin-bottom: 2%;
            }

            a{
                text-decoration: none;
                color: $fg;
            }

            /*a:hover,
            a:focus{
                color: $hover;
            }*/
        }
    }
}

.logo{
    font-size: 2rem;
    margin: 0;
}

.whoami{

    .hi{
        color: $hover;
    }

    .intro{
        color: $fg;
        font-weight: 700;
        font-size: 6rem;
        margin: 10rem auto 0 0;
        line-height: 1;

        @include for-phone-only{
            font-size: 3rem;
        }

    }

    .whatido{
        margin: 0;
        font-size: 2rem;
        margin: 0.5em 0;

        @include for-phone-only{
            font-size: 1rem;
        }
    }
}

.accent{
    color: $accent;
}

.highlight {
  background-image: linear-gradient($accent, $accent);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size .5s, background-position .3s ease-in .5s;

  &:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
    }
}

.about{
    margin-top: 14rem;
    
    h2{
        font-size: 2rem;
    }
}

.portfolio{
    margin-top: 14rem;
    text-align: center;

    h2{
        font-size: 2rem;
    }

    img{
        max-width: 100%;
        border-color: white;
        border-style: solid;
    }

    .portfolio-items{
        display: grid;
    }

    .item{
        margin-top: 5rem;
    }

    .text{
        display: flex;
        gap:2rem;

        a{
            text-decoration: none;
            color: $hover2;

            &:hover{
                color: $hover;
            }
        }

        @include for-phone-only{
            text-align: center;
        }
    }
}

footer{

    a{
        text-decoration: none;
        color: $hover2;

        &:hover{
            color: $hover;
        }
    }
}

.p-img{
    max-width: 100%;
    border-color: white;
    border-style: solid;
}

.p-title{
    text-align: center;
}

.skills{
    margin-top: 14rem;
    text-align: left;
}
