body {
	background-color: black;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}

h1 {
	color: white;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}

p.bottom {
	color: grey;
}

main {
	color: white;
}

a:link {
  color: #a8dadc;
}

a:visited {
  color: #f1faee;
}

a:hover {
  color: #457b9d;
}

a:active {
  color: #e63946;
}
